/*=================== Color ===================*/
$color-blue: #5480fa;
$color-yellow: #face54;
$color-yellow-light: #fce6a7;
$color-yellow-lighten: #fef2d3;
$color-green: #53fb99;
$color-red: #fb606d;

/*=================== Font and typography ===================*/
$font-body: 'Spline Sans', sans-serif;
$font-text: 'Roboto Condensed', sans-serif;

$font-icon: 1.3rem;
$font-footer: 0.8rem;

/*=================== Margin and padding ===================*/
$padding-side: 2rem;
$padding-title: 0.5rem;
$padding-between: 1rem;
$padding-between-small: 0.3rem;

/*=================== Mixins ===================*/
@import 'mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-size: 1.1rem;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
/*=================== Header ===================*/
/*=================== Main ===================*/
.landing {
  min-height: 20vh;
  .nav {
    display: flex;
    padding: $padding-side;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    .nav-title {
      display: flex;
      align-items: center;
      width: 200px;

      img {
        padding-right: 0.3em;
        height: 4rem;
        width: auto;
        object-fit: cover;
        border-radius: 100%;
      }
      #dynamic {
        display: inline-block;
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: -10px;
          width: 4px;
          height: 100%;
          background-color: #fff;
        }
        &.active::after {
          display: none;
        }
      }
    }
    .toggleBtn-menu {
      color: #000;
    }
    .toggleBtn-menu:hover {
      color: $color-blue;
      transition: all 0.5s ease 0s;
    }
  }
}
.jerry {
  display: none;
  margin-right: $padding-side;
  position: relative;
  text-align: center;
  background-color: $color-yellow;
  border-style: $color-yellow;
  width: 20rem;
  height: 15rem;
  float: right;
  img {
    width: 12rem;
    top: -20%;
    padding: 3rem;
  }
}
/*=== Landing Page ===*/
.intro {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $color-blue;
  color: $color-yellow;
  font-family: $font-text;
  .hide {
    overflow: hidden;
    span {
      font-size: 2rem;
      display: inline-block;
      transform: translateY(100%);
    }
    &__icons i {
      font-size: 1.5rem;
    }
  }
}

/*=================== Section A ===================*/
.section-a {
  padding: $padding-side;
  p {
    font-family: $font-text;
    font-weight: 300;
    padding: $padding-title 0;
  }
  &__icons {
    display: flex;
    justify-content: center;
    text-align: start;
    padding: $padding-between 0;
    li {
      padding: $padding-between 0.5rem;
      a {
        color: #000;
        font-size: $font-icon;
      }
      .fa-linkedin:hover,
      .fa-envelope:hover,
      .fa-github-square:hover {
        color: $color-blue;
        transition: all 0.5s ease 0s;
      }
    }
  }
}

/*=================== Skills ===================*/
.skill {
  padding: $padding-side;
  font-family: $font-text;
  &__language,
  &__plus,
  &__speak {
    display: flex;
    justify-content: space-between;
    ul {
      align-items: center;
      padding: $padding-between 0rem;
      font-weight: 300;
      li {
        text-align: center;
        font-size: 1rem;
        img {
          width: auto;
          height: 15%;
        }
      }
    }
  }
  &__text {
    background: $color-yellow;
    padding: $padding-between;
    font-family: $font-text;
    font-weight: 300;
    font-size: 1rem;
  }
}

/*============== Underbar - skill ==============*/
.underbar {
  a {
    position: relative;
    padding: 0 10px;
    &:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -30px;
      transition: 0.5s;
    }
    &:hover:after {
      width: 100%;
    }
  }
  .yellow a:after {
    background-color: $color-yellow;
  }
  .blue a:after {
    background-color: $color-blue;
  }
  .green a:after {
    background-color: $color-green;
  }
  .red a:after {
    background-color: $color-red;
  }
}

/*=================== Works ===================*/
.work {
  padding: $padding-side;
  &__title {
    padding-bottom: $padding-title;
  }
  .card {
    text-align: center;
    font-size: 1rem;
    &__content {
      padding-bottom: 2rem;
      a {
        font-size: 1.3rem;
        color: #000;
      }
      .fa-github-square:hover {
        color: $color-blue;
        transition: all 0.5s ease 0s;
      }
    }
    img {
      object-fit: cover;
      object-position: 0% 0%;
      height: 180px;
      filter: drop-shadow(0.3rem 0.3rem 0.3rem #d4d4d4);
      padding-bottom: 0.3rem;
      &:hover {
        opacity: 0.6;
        transition: all 0.5s ease 0s;
      }
    }
  }
}

/*=================== Footer ===================*/
.footer {
  padding: $padding-side;
  text-align: center;
  align-items: center;
  font-size: $font-footer;
  font-family: $font-text;
  font-weight: 300;
  background-color: $color-yellow;
  &__icons {
    display: flex;
    justify-content: center;
    li {
      a {
        color: #000;
        font-size: $font-icon;
      }
      padding: 0.3rem;
      .fa-linkedin:hover,
      .fa-envelope:hover,
      .fa-github-square:hover {
        color: $color-blue;
        transition: all 0.5s ease 0s;
      }
    }
  }
}

/*=================== Media Queries ===================*/
@include respond(tablet) {
  .skill {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 100%));
    align-items: center;
    &__language,
    &__plus {
      padding-right: $padding-side;
    }
    &__speak {
      justify-content: space-evenly;
    }
    &__plus,
    &__speak {
      padding-top: $padding-between;
    }
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    #camping {
      padding-right: 0.7rem;
    }
    #pics {
      padding-left: 0.7rem;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
}

@include respond(desktop) {
  .landing,
  .section-a,
  .skill,
  .work {
    padding: 2rem 8rem;
  }
}

@media screen {
  .jerry.active {
    display: block;
    transition: all 0.5s ease 0s;
    position: relative;
  }
}
