@import './stylesheet/mixins', './stylesheet/variable';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: $font-general;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}
/*=================== Header ===================*/
/*=================== Main ===================*/
.landing {
  min-height: 15vh;
  .nav {
    display: flex;
    padding: $margin-mb-section $margin-mb-section $margin-mb-between;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    .nav-title {
      display: flex;
      align-items: center;
      width: 200px;
      img {
        padding-right: 0.3em;
        height: 4rem;
        width: auto;
        object-fit: cover;
        border-radius: 100%;
      }
      #dynamic {
        display: inline-block;
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: -10px;
          width: 4px;
          height: 100%;
          background-color: #fff;
        }
        &.active::after {
          display: none;
        }
      }
    }
    .toggleBtn-menu {
      color: #000;
    }
    .toggleBtn-menu:hover {
      color: $color-blue;
      transition: all 0.5s ease 0s;
    }
  }
}
.jerry {
  display: none;
  margin-right: $margin-mb-section/2;
  position: relative;
  text-align: center;
  background-color: $color-yellow;
  border-style: $color-yellow;
  width: 20rem;
  height: 15rem;
  float: right;
  img {
    width: 12rem;
    top: -20%;
    padding: 3rem;
  }
}
/*=== Landing Page ===*/
.intro {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $color-blue;
  color: $color-yellow;
  &-text {
    margin: $margin-mb-section;
  }
  .hide {
    overflow: hidden;
    .bonjour {
      font-weight: 500;
    }
    span {
      font-size: 2.5rem;
      font-weight: 300;
      display: inline-block;
      transform: translateY(100%);
    }
    &-icons {
      font-size: 1.5rem;
      margin-top: $margin-mb-between;
    }
  }
}

/*=================== Section A ===================*/
.section-a {
  margin: $margin-mb-between/2 $margin-mb-between/2 $margin-mb-section;
  //background: $color-yellow;
  padding: $margin-mb-between;
  h1 {
    font-weight: 300;
    font-size: $font-size-title * 2;
    padding: $padding-title 0;
    span {
      font-weight: 500;
      font-size: $font-size-title * 2;
      color: $color-yellow;
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    text-align: start;
    padding: $margin-mb-between 0;
    li {
      padding: $margin-mb-between 0.5rem 0;
      a {
        color: #000;
        font-size: $font-size-title;
        .fa-linkedin:hover,
        .fa-envelope:hover,
        .fa-github-square:hover {
          color: $color-blue;
          transition: all 0.5s ease 0s;
        }
      }
    }
  }
  .download-files {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: $color-light-grey;
    .lettre {
      padding-left: $margin-mb-between;
    }
    a {
      font-size: $font-size-small;
      color: $color-light-grey;
      &:hover {
        color: $color-blue;
        transition: all 0.5s ease 0s;
      }
    }
  }
}

/*=================== Works ===================*/
.work {
  margin: $margin-mb-between $margin-mb-between/2;
  padding: $margin-mb-between;
  &__title {
    font-weight: 300;
    font-size: $font-size-title;
    margin-bottom: $margin-mb-between/2;
  }
  .card {
    text-align: center;
    font-size: 1rem;
    &__content {
      padding-bottom: 2rem;
      a {
        font-size: 1.3rem;
        color: #000;
      }
      .fa-github-square:hover {
        color: $color-blue;
        transition: all 0.5s ease 0s;
      }
    }
    img {
      object-fit: cover;
      object-position: 0% 0%;
      height: 180px;
      filter: drop-shadow(0.3rem 0.3rem 0.3rem #d4d4d4);
      padding-bottom: 0.3rem;
      &:hover {
        opacity: 0.6;
        transition: all 0.5s ease 0s;
      }
    }
  }
}

/*=================== Section-b ===================*/
.section-b {
  margin: $margin-mb-between $margin-mb-between/2;
  padding: $margin-mb-between;
  .experience-title {
    font-weight: 400;
  }
  #experience-first {
    margin-top: $margin-mb-between;
  }
  h2 {
    font-weight: 300;
    font-size: $font-size-title;
    margin: $margin-mb-section 0 $margin-mb-between/2 0;
  }
  &__card {
    .text-lighter {
      font-weight: 300;
      span {
        font-weight: 400;
      }
    }
    &-container {
      display: grid;
      grid-template-columns: minmax(1rem, 7rem) minmax(3rem, auto);
      grid-gap: 2rem;
    }
    &-name {
      color: $color-yellow;
    }
    #card-last {
      margin-top: $margin-mb-section;
    }
  }
}

/*=================== Section-c ===================*/
.section-c {
  margin: $margin-mb-between $margin-mb-between/2;
  padding: $margin-mb-between;
  font-weight: 300;
  h2 {
    font-size: $font-size-title;
    font-weight: 300;
    margin-bottom: $margin-mb-between/2;
  }
  //padding: $margin-mb-section;
  &__language,
  &__plus {
    display: flex;
    justify-content: space-between;
    div {
      align-items: center;
      padding-bottom: $margin-mb-between;
      font-weight: 300;
      &:hover {
        span {
          display: none;
          transition: all 0.2s ease-out;
        }
      }
      p {
        text-align: center;
        img {
          width: auto;
          height: 15%;
        }
        span {
          color: $color-light-grey;
          font-size: $font-size-small;
          margin-top: $margin-mb-between;
          height: 2rem;
        }
      }
    }
  }
}

/*=================== Section-d ===================*/
.section-d {
  margin: $margin-mb-between $margin-mb-between/2;
  padding: $margin-mb-between;
  font-weight: 300;
  &__title {
    font-size: $font-size-title;
    font-weight: 300;
    margin-bottom: $margin-mb-between/2;
  }
  &__card {
    display: grid;
    grid-template-columns: minmax(1rem, 7rem) minmax(5rem, auto);
    grid-gap: 2.5rem;
    text-align: start;
    margin-bottom: $margin-mb-between;
    align-items: flex-start;
    &-name {
      color: $color-yellow;
      .text-lighter {
        font-weight: 300;
      }
    }
    .diplom {
      .text-lighter {
        color: $color-light-grey;
        font-size: $font-size-small;
      }
    }
  }
}

/*=================== Section-e ===================*/
.section-e {
  margin: $margin-mb-between $margin-mb-between/2;
  padding: $margin-mb-between;
  font-weight: 300;
  h2 {
    font-weight: 300;
    font-size: $font-size-title;
    margin-bottom: $margin-mb-between/2;
  }
  &__speak {
    display: flex;
    justify-content: space-between;
    div {
      align-items: center;
      padding-bottom: $margin-mb-between;
      font-weight: 300;
      p {
        text-align: center;
        img {
          width: auto;
          height: 15%;
        }
        span {
          color: $color-light-grey;
          font-size: $font-size-small;
        }
      }
    }
  }
}

/*============== Underbar - skill ==============*/
.underbar {
  a {
    position: relative;
    padding: 0 10px;
    &:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -30px;
      transition: 0.5s;
    }
    &:hover:after {
      width: 100%;
    }
  }
  .yellow a:after {
    background-color: $color-yellow;
  }
  .blue a:after {
    background-color: $color-blue;
  }
  .green a:after {
    background-color: $color-green;
  }
  .red a:after {
    background-color: $color-red;
  }
}

/*=================== Footer ===================*/
.footer {
  padding: $margin-mb-section;
  text-align: center;
  align-items: center;
  font-size: $font-size-small;
  font-weight: 300;
  background-color: $color-yellow;
  &__icons {
    display: flex;
    justify-content: center;
    li {
      a {
        color: #000;
        font-size: $font-size-title;
      }
      padding: 0.3rem;
      .fa-linkedin:hover,
      .fa-envelope:hover,
      .fa-github-square:hover {
        color: $color-blue;
        transition: all 0.5s ease 0s;
      }
    }
  }
}

/*=================== Media Queries ===================*/
@include respond(tablet) {
  .section-a {
    margin: $margin-dsk-section * 2 $margin-dsk-section * 2 $margin-dsk-section *
      3;
    padding: 0;
  }
  .work {
    .card {
      justify-content: space-around;
      display: flex;
      //text-align: center;
      &__content {
        padding-right: $margin-dsk-between;
      }
    }
  }
  .work,
  .section-b,
  .section-c,
  .section-d,
  .section-e {
    margin: $margin-dsk-between $margin-dsk-section * 2;
    padding: 0;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .section-c,
  .section-e,
  .section-d {
    width: 50vw;
  }
  //   .skill {
  //     display: grid;
  //     grid-template-columns: repeat(2, minmax(auto, 100%));
  //     align-items: center;
  //     &__language,
  //     &__plus {
  //       padding-right: $margin-dsk-section;
  //     }
  //     &__speak {
  //       justify-content: space-evenly;
  //     }
  //     &__plus,
  //     &__speak {
  //       padding-top: $margin-dsk-between;
  //     }
  //   }
  //   .card {
  //     display: grid;
  //     grid-template-columns: repeat(2, 1fr);
  //     #camping {
  //       padding-right: 0.7rem;
  //     }
  //     #pics {
  //       padding-left: 0.7rem;
  //     }
  //   }
  //   .footer {
  //     display: flex;
  //     justify-content: space-between;
  //   }
  // }

  // @include respond(desktop) {
  //   .landing,
  //   .section-a,
  //   .skill,
  //   .work {
  //     padding: 2rem 8rem;
  //   }
}

@media screen {
  .jerry.active {
    display: block;
    transition: all 0.5s ease 0s;
    position: relative;
  }
}

@include respond(desktop) {
  .section-a {
    margin: $margin-dsk-section * 3 $margin-dsk-section * 4 $margin-dsk-section *
      4;
  }
  .work,
  .section-b,
  .section-c,
  .section-d,
  .section-e {
    margin: $margin-dsk-section $margin-dsk-section * 4;
    padding: 0;
  }
}
